<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zzj.open.base">

    <application >
        <activity android:name=".base.BaseWebActivity"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize"
            >

        </activity>
    </application>
</manifest>
