<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzj.open.module_movie">
    <application>
        <activity android:name=".activity.MovieDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.MovieSearchActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            />

        <activity android:name=".activity.FullScreenActivity"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
