<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzj.open.module_movie">
    <application>
        <activity android:name=".activity.MovieDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.MovieSearchActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            />
    </application>
</manifest>
