<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzj.open.module_main">


    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <!--需要硬件支持低功耗蓝牙-->
    <uses-feature android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!--Android 5.0以上蓝牙好需要位置权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="andriod.permission.ACCESS_FINE_LOCATION"/>
    <application>
        <!--在自己组件中注册Activity-->
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >

        </activity>
    </application>
</manifest>
